.body {
    background-color: #1f2937;
    height: 100vh;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    
}

.left-side {
    font-size: 24pt;
    color: #f9faf8;
    margin-left: 400px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    font-size: 18pt;
    margin-right: 400px;
    color: #E5E7EB;
}
